<template>
  <div>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">{{title}}</a>
        </li>
        <li class="breadcrumb-item active">{{subtitle}}</li>
      </ol>
  </div>
</template>

<script>
export default {
  props: [
    'title',
    'subtitle'
  ]
}
</script>

<style scoped>
</style>
