<template>
  <div>
     <div  class="alert alertsuccess">
         <a style="cursor:pointer" class="close" 
         @click="close">&times;</a>
        <strong>{{alertText}}</strong>
     </div> 
  </div>
</template>


<script>
export default {
  props: [
    'alertText'
  ],
  methods: {
    close () {
      this.$emit('clicked')
    }
  }
}
</script>

<style scoped>

</style>
