<template>
  <div>
     <!-- Breadcrumbs-->
      <bredcrumb
      title="Patient"
      subtitle="Patient List"
      ></bredcrumb>
      <!-- Icon Cards-->

     <div class="row">
        <div class="col-xl-12 col-sm-12">
          


          
        </div>
      </div>
     
      
      
   </div>
</template>

<script>
export default {
}
</script>

<style scoped>

</style>


