<template>
   <div>
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">Start Bootstrap</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <div
        v-if="isLoggedIn">
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
         
          <router-link 
          class="nav-link" 
          tag="a"
          :to="{ name: 'Dashboard' }">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
          </router-link>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <router-link 
          class="nav-link" 
          tag="a"
          :to="{ path: 'patient' }">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Patient</span>
          </router-link>
        </li>
        </div>

        <div v-else>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
            <router-link 
            class="nav-link" 
            tag="a"
            :to="{ path: 'signup' }">
              <i class="fa fa-fw fa-area-chart"></i>
              <span class="nav-link-text">Signup</span>
            </router-link>
          </li>
        </div>

      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a 
          v-if="navigateCollapse"
          class="nav-link text-center" 
          id="sidenavToggler"
          @click="unSidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
          <a 
          v-else
          class="nav-link text-center" 
          id="sidenavToggler"
          @click="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        
        <li
        v-if="isLoggedIn"
         class="nav-item">
          <a @click="logout" class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i></i>Logout</a>
        </li>

        <li
        v-else
         class="nav-item">
            <router-link 
            class="nav-link" 
            tag="a"
            :to="{ path: 'login' }">
              <i class="fa fa-fw fa-sign-out"></i>
              <span class="nav-link-text">Login</span>
            </router-link>
        </li>

      </ul>
    </div>
  </nav>
   </div>
</template>

<script>
import {mapState} from 'vuex'
export default {
  methods: {
    logout () {
      this.$store.dispatch('clearUser')
      window.localStorage.removeItem('authUser')
      this.$router.push({
        name: 'Login'
      })
    },
    sidenavToggler () {
      this.$store.dispatch('setNavToggle', true)
    },
    unSidenavToggler () {
      this.$store.dispatch('unSetNavToggle', true)
    }
  },
  computed: {
    ...mapState([
      'navigateCollapse',
      'isLoggedIn'
    ])
  }
}
</script>

<style scoped>

</style>
