<template>
  <div>
      <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Register an Account</div>
      <div class="card-body">
        <form @submit.prevent="onLoginUser">
          
          
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input 
            autocomplete="false"
            v-model="email"
            class="form-control" 
            id="exampleInputEmail1" 
            type="email" 
            aria-describedby="emailHelp" 
            placeholder="Enter email">
          </div>


          <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
                <input 
                class="form-control" 
                id="exampleInputPassword1" 
                type="password" 
                placeholder="Password"
                v-model="password">
              
          </div>

          <alert 
          @clicked="onClickChild"
          v-if="isError" 
          :alertText="this.error"></alert>

          <sucalert 
          @clicked="onClickChild"
          v-if="isRegistered" 
          :alertText="this.error"></sucalert>

          <button style="cursor:pointer" type="submit" class="btn btn-primary btn-block" >Login</button>
          
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="login.html">Login Page</a>
          <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import AuthService from '@/services/AuthenticationService'
export default {
  data () {
    return {
      email: '',
      password: '',
      isRegistered: false,
      error: null,
      isError: false,
      authUser: {}
    }
  },
  methods: {
    onClickChild (value) {
      this.isError = false
      this.isRegistered = false
    },
    async onLoginUser () {
      if (!this.formIsValid) {
        this.isError = true
        this.error = 'Fill all the fields'
        return
      }
      try {
        const response = await AuthService.login({
          email: this.email,
          password: this.password
        })
        this.email = ''
        this.password = ''
        this.authUser.token = response.data.token
        this.authUser.user = response.data.user
        window.localStorage.setItem('authUser', JSON.stringify(this.authUser))
        console.log(this.$store.state.user)
        this.$store.dispatch('setToken', response.data.token)
        this.$store.dispatch('setUser', response.data.user)
        this.$router.push({
          name: 'Dashboard'
        })
        console.log(response)
      } catch (error) {
        this.isRegistered = false
        this.isError = true
        this.error = error.response.data.error
      }
    }
  },
  computed: {
    formIsValid () {
      return this.email !== '' && this.password !== ''
    }
  },
  created () {
    console.log('suvo')
  }
}
</script>

<style scoped>

</style>
