<template>
  <div>
      <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Register an Account</div>
      <div class="card-body">
        <form @submit.prevent="onCreateUser">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputName">First name</label>
                <input 
                class="form-control" 
                id="exampleInputName" 
                type="text" 
                aria-describedby="nameHelp" 
                placeholder="Enter first name"
                v-model="firstName">
              </div>
              <div class="col-md-6">
                <label for="exampleInputLastName">Last name</label>
                <input 
                class="form-control" 
                id="exampleInputLastName" 
                type="text" 
                aria-describedby="nameHelp" 
                placeholder="Enter last name"
                v-model="lastName">
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input 
            autocomplete="false"
            v-model="email"
            class="form-control" 
            id="exampleInputEmail1" 
            type="email" 
            aria-describedby="emailHelp" 
            placeholder="Enter email">
            <span class="text-danger" v-if="isEmailExistCon">{{isEmailExist.data}}</span>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Date Of Birth</label>
            <datepicker 
            v-model="state.date" 
            class="form-control"></datepicker>

          </div>

          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputPassword1">Password</label>
                <input 
                class="form-control" 
                id="exampleInputPassword1" 
                type="password" 
                placeholder="Password"
                v-model="password">
              </div>
              <div class="col-md-6">
                <label for="exampleConfirmPassword">Confirm password</label>
                <input
                v-model="confirmPassword" 
                class="form-control" 
                id="exampleConfirmPassword" 
                type="password" 
                placeholder="Confirm password">
              </div>
            </div>
            <span class="text-danger" v-if="isPassMatch">Password & Confirm Password Doesnot Match</span>
          </div>

          <alert 
          @clicked="onClickChild"
          v-if="isError" 
          :alertText="this.error"></alert>

          <sucalert 
          @clicked="onClickChild"
          v-if="isRegistered" 
          :alertText="this.error"></sucalert>

          <button style="cursor:pointer" type="submit" class="btn btn-primary btn-block" >Register</button>
          
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="login.html">Login Page</a>
          <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker'
import _ from 'lodash'
import AuthService from '@/services/AuthenticationService'
export default {
  components: {
    Datepicker
  },
  data () {
    return {
      firstName: '',
      lastName: '',
      email: '',
      password: '',
      confirmPassword: '',
      isPassMatch: false,
      isEmailExist: null,
      isEmailExistCon: false,
      isRegistered: false,
      error: null,
      isError: false,
      state: {
        date: new Date(1991, 10, 16)
      }
    }
  },
  watch: {
    email: {
      handler: function (val, oldVal) {
        this.foo(val)
      },
      deep: true
    },
    confirmPassword: {
      handler: function (val, oldVal) {
        if (val !== this.password) {
          this.isPassMatch = true
        } else {
          this.isPassMatch = false
        }
      }
    }
  },
  methods: {
    onClickChild (value) {
      this.isError = false
      this.isRegistered = false
    },
    async onCreateUser () {
      if (!this.formIsValid) {
        this.isError = true
        this.error = 'Fill all the fields'
        return
      }
      try {
        const response = await AuthService.register({
          firstName: this.firstName,
          lastName: this.lastName,
          email: this.email,
          password: this.password
        })
        this.firstName = ''
        this.lastName = ''
        this.email = ''
        this.password = ''
        this.confirmPassword = ''
        this.isRegistered = true
        this.error = response.data.message
        console.log(response)
      } catch (error) {
        this.isRegistered = false
        this.isError = true
        this.error = error.response.data.error
      }
    },
    foo: _.debounce(
      async function (val) {
        this.isEmailExist = (await AuthService.email({
          email: val
        })).data
        this.isEmailExistCon = true
        console.log(this.isEmailExist.data)
      },
      700
    )
  },
  computed: {

    formIsValid () {
      return this.firstName !== '' && this.lastName !== '' && this.email !== '' && this.password !== ''
    }
  }
}
</script>

<style scoped>

</style>
